body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150px;
}

#bruh{
    max-width: 100%;
    width: 100%;
    height: auto;
    left: 25%;
    right: 40%;
}
.lmao{
    font-size: 50px;
    text-align: center;
    left: 50%;
    right: 40%;
}
.pic{
    max-width: 100%;
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    right: 50%;
}