body{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#pic_click{
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 15%;
    right: 30%;
    top: 10%;
    bottom: 70%;
}
#pic{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 20%;
    right: 40%;
}
.glyphicon{
    position: absolute;
    left: 45%;
    right: 55%;
    top: 30%;
    font-size: 100px;
}